.hero_content_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title_hero{
        font-size: 35px;
        color: #fff;
        padding: 20px;
    }
    .text_hero{
        font-size: 16px;
        color: #fff;
    }
}
.hero_scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 77px;
    .scroll_block{
        width: 40px;
        height: 40px;
        background: #19bd9a;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            color: #fff;
            font-size: 17px;
        }
    }
}